@model WebProjectServ.Models.Tour

@{
    ViewData["Title"] = "Tours";
}

<div class="container mt-4">
    <div class="card shadow-sm">
        <div class="card-header bg-secondary text-white">
	        <h4 class="mb-0">Edit Tour Information</h4>
        </div>

    
        <div class="card-body">
            <form asp-action="Edit">
                <input type="hidden" asp-for="Id" />
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label asp-for="Name" class="form-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label asp-for="Country" class="form-label"></label>
                        <input asp-for="Country" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label asp-for="Price" class="form-label">Price, €</label>
                        <input asp-for="Price" class="form-control" />
                    </div>

                    <div class="col-md-4 mb-3">
                        <label asp-for="DurationDays" class="form-label">Duration Days</label>
                        <input asp-for="DurationDays" class="form-control" />
                    </div>

                    <div class="col-md-4 mb-3">
                        <label asp-for="StartDate" class="form-label">Start Date</label>
                        <input asp-for="StartDate" type="datetime-local" class="form-control" />
                    </div>
                </div>
            
                <div class="mb-3">
                    <label asp-for="Description" class="form-label"></label>
                    <textarea asp-for="Description" class="form-control"></textarea>
                </div>

                <div class="d-flex justify-content-between">
                    <a asp-action="Index" class="btn btn-secondary">← Back to list</a>
                    <button type="submit" class="btn btn-success">Save Tour</button>
                </div>
            
            </form>
        </div>
    </div>
</div>
